.noto-sans-kr-Medium {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  color: #2a2a2a;
  font-size: 30px;
}

.noto-sans-kr-Thin {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  color: #2a2a2a;
  font-size: 30px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.titillium-web-extralight {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-style: italic;
}
